.green{
  background-color: #00c109;
}

.white{
  background-color: white;
}

.card{
  margin-bottom: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  border-left: 4px solid #00c109;
  background-color: #ffffff;
  padding: 20px;
}

.affix{
  position: fixed;
  top: 60px;
  left: 30px;
}

.placeholder{
  min-height: 1px;
  visibility: hidden;
}

.top-bar{
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
}

.container-fluid{
  padding-top: 60px;
  p{
    font-size: 1.25em;
  }
}

h3{
  color: #00c109;
}

a{
  color: #00c109;
  font-size: 1.25em;
}

a:hover{
  color: #00c109;
}

.offset-scroll{
  scroll-margin-top: 75px;
}

.top-left-img{
  max-height: 50px;
}

.width-50{
  width: 50px;
}
